.Instagram_header_logo{
    margin: 2rem 0; font-family: 'Sansita Swashed', cursive;

}
.Instagram_header_button{
    margin-bottom: 2rem;
}
.Instagram_footer_button{
    margin-top: 2rem;
}
.Instagram_footer_logo{
    margin: 1.5rem 0;font-family: 'Sansita Swashed', cursive;
}